<html>
<head></head>
<body>
{%block header%}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/style.css' %}">
<h3>
	<!-- <a href="{% url 'poll' %}">Poll</a>
	<a href="{% url 'allcontacts' %}">Contacts</a>
	<a href="{% url 'contact' %}">Create Contact</a> -->

</h3>
{%endblock%}
{%block content%} {%endblock%}

{%block footer%} Copyrights Anil{%endblock%}
</body>

</html>
