<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!-- templates/home.html -->
<h1>Message board homepage</h1>
<ul>
  {% for post in all_posts_list %}
    <li>{{ post.text }}</li>
  {% endfor %}
</ul>

</body>
</html>