 <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="{% url 'poll' %}">
                            <i class="glyphicon glyphicon-home"></i>
                            Poll </a>
                        </li>
                        <li>
                            <a href="{% url 'allcontacts' %}">
                            <i class="glyphicon glyphicon-user"></i>
                            Contacts </a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" target="_blank">
                            <i class="glyphicon glyphicon-ok"></i>
                            Create Contact </a>
                        </li>
                       
                    </ul>
                </div>
                <!-- END MENU -->