{%extends "base.html" %}
{% block content%}


<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                {% load static %}
                    <img src="{% static 'contact/images/download.png' %}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                      {{contact.name}}
                    </div>
                    <div class="profile-usertitle-job">
                       {{contact.email}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                 {% include 'menu.html' %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <table border="1" align="center">
        <tr> 
	        <th> ID </th>
	        <th>Name </th>
	        <th>Email </th>
	        <th>Phone</th>
	        <th>Created</th>
	        <th>Action</th>
		</tr>
{% if contacts %}
    {% for val in contacts %}
    	<tr>
    		<td>{{val.id}}</td>
        	<td> <a href="{% url 'profile' val.id %}" >{{val.name}}</a></td>
        	<td>{{val.email}}</td>
        	<td>{{val.phone}}</td>
        	<td>{{val.created}}</td>
        	<td><a href="{% url 'contact_edit' val.id %}">Edit</a></td>
        	<td><a href="{% url 'contact_delete' val.id %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <p>No polls are available.</p>
{% endif %}


            </div>
        </div>
    </div>
</div>
  

{%endblock%}
