{%extends "base.html" %}
{% block content%}
<center>
<fieldset>
	<legend>Contact Form </legend>
	<form method="post" action="{% url 'contact_edit' contact.id %}">
    {% csrf_token %}
{% if phone %}
    {{phone}}
{%endif%}
    <div>
    <input type="hidden" name="id" value="{{contact.id}}">
        <input type="text" value="{{contact.name}}" placeholder="name" name="name" />
    </div>
    <div>
        <input type="text" name="email" value="{{contact.email}}" placeholder="email" />
    </div>
    <div>
        <input type="text" name="phone" placeholder="phone" value="{{contact.phone}}" />
    </div>
    <div>
        <input type="submit" name="submit" value="submit" />
    </div>
</form>
</fieldset>
</center>
{%endblock%}
