{%extends "base.html" %}
{% block content%}
<center>
<fieldset>
	<legend>Contact Form </legend>
	<form method="post" action="{% url 'contacts' %}">
    {% csrf_token %}
{% if phone %}
    {{phone}}
{%endif%}
    <div>
        <input type="text" placeholder="name" name="name" />
    </div>
    <div>
        <input type="text" name="email" placeholder="email" />
    </div>
    <div>
        <input type="text" name="phone" placeholder="phone" />
    </div>
    <div>
        <input type="submit" name="submit" value="submit" />
    </div>
</form>
</fieldset>
</center>
{% endblock %}
