{%extends "base.html" %}
{% block content%}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
       
          
                <!-- END SIDEBAR BUTTONS -->
                 {% include 'menu.html' %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                 <h1>{{ question.question_text }} {{ question.id}}</h1>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <form action="{% url 'vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                <input type="submit" value="Vote">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}



