{%extends "base.html" %}
{% block content%}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
             
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
             
                <!-- END SIDEBAR BUTTONS -->
                 {% include 'menu.html' %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                  {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
            </div>
        </div>
    </div>
</div>


 	{%endblock%}
