{%extends "base.html" %}
{% block content%}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
     
             
                <!-- END SIDEBAR BUTTONS -->
                 {% include 'menu.html' %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
              
                  <h1>{{ question.question_text }}</h1>

			    <ul>
			    {% for choice in question.choice_set.all %}
			        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
			    {% endfor %}
			    </ul>

			    <a href="{% url 'detail' question.id %}">Vote again?</a>


            </div>
        </div>
    </div>
</div>
{%endblock%}




